.element__like {
    color: #000;
    width: 22px;
    background-repeat: no-repeat;
    height: 19px;
    background-image: url(../../../images/Group.svg);
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}

.element__like:hover {
    opacity: 0.5;
}

