.header__logo {
    max-width: 142px;
    min-height: 33px;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 880px) {
    .header__logo {
        max-width: 103.736px;
        min-height: 24.396px;
        padding-left: 27px;
    }
}