.popup__info {
    max-width: 358px;
    font-family: 'Inter';
    display: flex;
    padding-top: 54px;
    flex-direction: column;
    gap: 30px;
    box-shadow: none;
    border-bottom: #545454;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    position: relative;
   
}

@media screen and (max-width: 880px) {
    .popup__info {
        max-width: 238px;
        padding-top: 75px;
        
    }
}