.popup__input {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: flex-start;
    border: none;
    padding: 0 0 13px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20000000298023224);
    border-bottom-color: #545454;
    min-width: 358px;

}

@media screen and (max-width: 880px) {
    .popup__input {
        min-width: 238px;
    }
}
