.element__delete {
background-image: url(../../../images/trashcan.svg);
width: 18px;
height: 19px;
position: absolute;
top: 19.5px;
right: 19.5px;
margin: 0;
padding: 0;
background-color: rgba(255, 255, 255, 0%);
cursor: pointer;
border: 0;
}

.element__delete:hover {
    opacity: 0.5;
    transition: 2s;
}