.header__logo {
    max-width: 142px;
    min-height: 33px;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 880px) {
    .header__logo {
        width: 103.736px;
        height: 24.396px;
        right: 27px;
    }
}