.header {
    max-width: 880px;
    min-height: 74px;
    margin: 45px auto 0 auto;
    position: relative;
    border-bottom: 2px solid #545454;
}

@media screen and (max-width: 880px) {
    .header {
        max-width: 320px;
        min-height: 56px;
        margin: 28px auto 0 auto;
        border-bottom: 2px solid #545454;
    }
}