.profile__subtitle {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
   
}

@media screen and (max-width: 880px) {
    .profile__subtitle {
        display: flex;
        width: 282px;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        justify-content: center;
    }
}
