.popup__close {    
    padding: 0;
    background-image: url(../../../images/Close\ Icon.svg);
    background-color: rgba(0, 0, 0, 0%);
    align-self: flex-end;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -42px;
    right: -44px;
    cursor: pointer;
    border: 0;
}

.popup__close:hover {
    opacity: 0.6;
    transition: 2s;
}

@media screen and (max-width: 880px) {
    .popup__close {
        top: -41px;
        right: 2px;
    }
}