.profile__info {
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    min-width: 336px;
    align-items: baseline;
    text-align: left;
    margin: 0;
    position: relative;
    gap: 16px;
}

@media screen and (max-width: 880px) {
    .profile__info {
        padding-top: 28.25px;
        padding-left: 0;
        min-width: 282px;
        text-align: center;
        gap: 14px;
        padding-bottom: 31px;
        
    }
}