@import url(/styles/Inter/inter.css);
.page {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    max-width: 1280px;
    background-color: #000000;
    margin: 0 auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
  }
  @media screen and (max-width: 880px) {
   .page {
    min-width: 320px;
   }  
  }
  
    
  .header {
    max-width: 880px;
    min-height: 74px;
    margin: 45px auto 0 auto;
    position: relative;
    border-bottom: 2px solid #545454;
    
  }
  @media screen and (max-width: 880px) {
    .header{
        max-width: 320px;
        min-height: 56px;
        margin: 28px auto 0 auto;
        border-bottom: 2px solid #545454;
    }
  }
  .header__logo {
    max-width: 142px;
    min-height: 33px;
    position: absolute;
    top: 0;
    left: 0;
  }
  @media screen and (max-width: 880px) {
    .header__logo {
  width: 103.736px;
  height: 24.396px;
  right: 27px;
    }
}
  .content {
    padding-top: 36.25px;
    max-width: 880px;
    margin: 0 auto;
  }
  @media screen and (max-width: 880px) {
    .content {
    padding-top: 38.25px;
    max-width: 282px;
  }
}
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media screen and (max-width: 880px) {
    .profile {
        flex-direction: column;
        
    }
  }
  .profile__info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  @media screen and (max-width: 880px) {
    .profile__info-container {
     flex-direction: column;  
    }
  }
  
  .profile__photo {
    max-width: 127.5px;
    height: 127.5px;
    border-radius: 50%;
    object-fit: cover;
    
  }
  @media screen and (max-width: 880px) {
    .profile__photo {
        max-width: 168.75px;
        
    }
  }

  .profile__info {
   
    padding-left: 22.5px;
    display: flex;
    max-width: 336px;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: left;
    margin: 0;
    position: relative;
    
   
  }

  @media screen and (max-width: 880px) {
    .profile__info {
        padding-top: 22.25px;  
        padding-left: 0;    
        max-width: 282px;
        flex-direction: column;
        
    }
  }
 
  .profile__title {
    max-width: 294px;
    color: #FFF;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    margin: 0;
   
  }
  @media screen and (max-width: 880px) {
    .profile__title {
        text-align: center;
        align-self: center;
        font-family: Inter;
        font-size: 27px;
        font-weight: 500;
        line-height: normal;
        max-width: 189 px;
        
    }
  }

   .profile__button {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 10px;     
    background-image: url(/images/Edit-Button.svg);    
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFF;
    margin: 0;
    cursor: pointer;
    
   }
   .profile__button:hover {
    opacity: 0.800000011920929;
   }

   @media screen and (max-width: 880px) {
    .profile__button {
        right: 19px;
        top: 31.25px;
        width: 18px;
        height: 18px;
    }
   }

   .profile__subtitle {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-top: 16px;
    
   }
   @media screen and (max-width: 880px) {
    .profile__subtitle {
        display: flex;
        width: 282px;
        height: 14px;
        text-align: center;
        justify-content: center;
        padding-bottom: 36px;
        padding-top: 14px;
        
    }
   }

   .profile__add-button {
    background-image: url(/images/Add-Button.svg);
    background-size: 22px 22px;
    background-position: center;
    padding: 0;
    background-color: #000000;
    border: 2px solid #FFF;
    width: 150px;
    min-height: 50px;
    align-self: center;
    background-repeat: no-repeat;
    cursor: pointer;
   }
   .profile__add-button:hover {
    opacity: 0.6;
   }

   @media screen and (max-width: 880px) {
    .profile__add-button {
        background-size: 16px 16px;       
        width: 282px;
    }
   }

   .elements {
    padding: 47.25px 0 0 0;
    margin: 0;
    display: grid;
    max-width: 880px;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 362px);
    list-style-type: none;
    padding-left: 0;
    gap: 20px 17px;

   }
   @media screen and (max-width: 880px) {
    .elements {
    padding-top: 36px;
    max-width: 282px;
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, 362px);
    gap: 20px;
    }
   }

   .element {
    width: 282px;
    min-height: 361px;
    background-color:#FFF;
    border-radius: 10%;
    margin: 0;
   }
   @media screen and (max-width: 880px) {}

   .element__image {
    max-width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    min-height: 282px;
   }
   @media screen and (max-width: 880px) {}

   .element__content {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px 31px 21px;
   }
   @media screen and (max-width: 880px) {}


   .element__title {
    color: #000;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
   }
   @media screen and (max-width: 880px) {}

  .element__like {
    background-image: url(/images/Group.svg);
    color: #000;
    width: 22px;
    height: 19px;
    padding: 0;
    margin: 0;
    align-self: flex-end;
    border: 0;
    cursor: pointer;
  }
  @media screen and (max-width: 880px) {}

  .element__like:hover {
   opacity: 0.5;
  }
  
  .element__like:active {
    background-image: url(/images/Union.svg);
    color: #000;

  }
  .popup {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    
   
  }
  .popup__opened {
    display: flex;
  }
 
  @media screen and (max-width: 880px) {}

  .popup__container {
    
    font-family: 'Inter';
    background-color: #FFF;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 34px 36px 37px 36px;
    border-radius: 10px; 
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    box-sizing: border-box;
  
  }
  @media screen and (max-width: 880px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px 25px 22px;

    }
  }

  .popup__info {
    max-width: 358px;                                                                   
    font-family: 'Inter';
    display: flex;
    padding-top: 54px;
    flex-direction: column;
    gap: 30px;
    box-shadow: none;
    border-bottom: #545454;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  @media screen and (max-width: 880px) {
    .popup__info {
        max-width: 238px;
        padding-top: 75px;
        gap: 30px;
    }
  }

  .popup__input {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: flex-start;
    border: none;
    padding: 0 0 13px 0;
    border-bottom: 1px solid #545454;
    border-bottom-color: #545454;
    min-width: 358px;

  }
  @media screen and (max-width: 880px) {
    .popup__input {
    min-width: 238px;
    }
  }

  .popup__close {
    color: #FFF;
    align-self: flex-end;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -42px;
    right: -44px;
    cursor: pointer;
  }
  .popup__close:hover {
    opacity: 0.6;
  }
  @media screen and (max-width: 880px) {
    .popup__close {
        top: -41px;
        right: 2px;
    }
  }

  
  .popup__button {
    align-items: center;
    align-self: center;
    background: none;
    border: none;
    box-shadow: none;
    background-color: #000;
    min-width: 358px;
    min-height: 50px; 
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:0;
    cursor: pointer;
    margin-top: 18px;

  }
  .popup__button:hover {
    border-radius: 2px;
    opacity: 0.800000011920929;
  }
  @media screen and (max-width: 880px) {
    .popup__button {
        min-width: 238px;
        min-height: 46px;  
        font-size: 14px;
        margin-top: 15px;
    }
  }

  .popup__title {
    margin: 0;
    text-align: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
  }
  @media screen and (max-width: 880px) {
    .popup__title {
        font-size: 18px;
    }
  }

  
  .footer {
    position: relative;
    padding-top: 67px;    
    padding-bottom: 60px;
    max-width: 880px;
    min-height: 18px;
    margin: 0 auto;
  }
  @media screen and (max-width: 880px) {
    .footer {
        max-width: 282px; 
        padding-top: 48px;    
        padding-bottom: 36px; 
    }
  }

  .footer__copyright {
    position: absolute;
    left: 0;
    max-width: 318px;
    color: #545454;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  @media screen and (max-width: 880px) {
    .footer__copyright {
        font-size: 14px;
    }
  }

  *{
    
  }
  